.button {
    width: 80px;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    background-color: aqua;
    cursor: pointer;
}

.time {
    display: flex;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: aquamarine;
    width: 280px;
    height: 40px;
    justify-content: center;

}